@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="m-1 p-1 bg-primary">
    <div class="row text-white">
        <div class="col-7">
            <h4>Products</h4>
        </div>
        <div class="col-5">
        </div>
    </div>
</div>

<div class="m-1 p-1">
    <div class="row">
        <div class="col-3">
            @await Component.InvokeAsync("Category")

        </div>
        <div class="col-9">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 16rem;float:left">
                    <img src="https://previews.123rf.com/images/eljanstock/eljanstock1811/eljanstock181110746/112197558-loading-vector-icon-isolated-on-transparent-background-loading-transparency-logo-concept.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <a href="#" class="btn btn-primary">@item.Price</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

